body, html {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    height: 100%;
    width: 100%;
}

li{
    margin-left:5%;
}

li.end{
    margin-left:70%
}

.lineHeight{
    line-height:10px;
}

#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

    #loading-bar-spinner.spinner .spinner-icon {
        width: 40px;
        height: 40px;
        border: solid 4px transparent;
        border-top-color: #00C8B1 !important;
        border-left-color: #00C8B1 !important;
        border-radius: 50%;
    }

@keyframes loading-bar-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



.categoryButton {
    width: 190px;
    left: 5px;
}

.categoryDrop {
    padding-top: 20px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}

    .inputfile + .labelClass {
        color: dodgerblue;
        display: inline-block;
    }
    
input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.25); /* IE */
    -moz-transform: scale(1.25); /* FF */
    -webkit-transform: scale(1.25); /* Safari and Chrome */
    -o-transform: scale(1.25); /* Opera */
}

.checkboxtext {
    /* Checkbox text */
    font-size: 110%;
    display: inline;
    padding-left: 10px;
}

.labelClass {
    font-weight:100;
    padding: 2px;
    display: block;
    color: dodgerblue;
}

.linkAnchor{
    font-weight:100;
    color: black;
}

.linkAnchor:hover{
    opacity: 0.5;
    cursor: pointer;
    color: dodgerblue;
}

.labelClass:hover {
    opacity: 0.5;
    cursor: pointer;
    text-decoration: underline;
}
        .inputfile:focus + label,
        .inputfile + label:hover {
            color: dodgerblue;
        }

    .inputfile + label {
        cursor: pointer; /* "hand" cursor */
    }

div.fileinputs {
    position: relative;
}

div.fakefile {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-left:10px;
}

.padRight {
    padding-right: 170px;
}

.padLeft {
    position: absolute;
    left:50%;
}

.inner-addon {
    position: relative;
}

    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        float: right;
        padding: 5%;
        pointer-events: none;
    }

.imgHolder {
    position: relative;
}

    .imgHolder span {
        position: absolute;
        top: 10px;
    }

.text-box {
    width: 40%;
}

.text-box2 {
    width: 20%;
}

.check-box {
    display: block;
    width: 20px;
}

.single-line {
    position: relative;
}

.overlap {
    display: flex;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }

label {
    display: inline-block;
    /*width:230px;*/
    text-align: left;
    white-space: nowrap;
    float: left;
}

.block {
    padding-top: 20px;
    padding-bottom: 5px;
}


#header {
    position: relative;
    padding-top: 0px;
}

.page-init {
    margin-top: 100px;
    width: 100%;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 44px;
    padding: 4px 8px;
    background: #262626;
    box-sizing: border-box;
    cursor: pointer;
}

    .menu-icon span {
        width: 100%;
        height: 4px;
        display: block;
        background: #fff;
        margin: 6px 0;
        transition: .5s;
    }

.container-pos {
    position: inherit;
}

.myTableRow tr {
    background: #F5F5DC;

}

    .myTableRow tr:hover {
        color: aqua;
    }

.parent-sidebar {
    position: center;
}

.fadein {
    background-color: dimgrey;
}

.text-left {
    width: 50%;
}

.align-left {
    float: left;
}

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 62px;
    width: 280px;
    height: 100vh;
    background: #262626;
    transition: .5s;
    padding: 20px;
    text-align: center;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
}

.rightbar {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 62px;
    width: 380px;
    height: 100vh;
    background: #262626;
    transition: .5s;
    padding: 20px;
    text-align: center;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
}


.edit {
    display: inline-block;
    position: relative;
}

p.thick {
    font-weight: bold;
}

.listBox {
    width:85.5%;
    position:fixed;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    top: 62px;
    left:280px;
    background: #FFFFFF;
    height:100%
}

.requestBox {
    width: 100%;
    position: fixed;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    top: 62px;
    left: 280px;
    background: #FFFFFF;
    height: 100%
}

table tbody, table thead {
    display: block;
    width:99.5%
}

table tbody {
    overflow: auto;
    height: 850px;
    width:100%;
}



tr{
    white-space:nowrap;
    width:100%;
}

.modal-content {
    height: 50%;
    width: 40%;
    margin: 15% auto;

}

thead{
    width:100%;
}

.modal-content2 {
    position: relative;
    background-color: #fefefe;
    margin: 1%;
    padding: 0;
    border: 1px solid #888;
    width: 99.9%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.ui-dialog {
    overflow: visible;
}

.modal-title {
    margin-left: 20px;
}

.treeClass{
    overflow-y:auto;
    max-height:300px;
}

.logModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    box-sizing: border-box;
}

.detailsModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 25%;
    top: 25%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 1200px; /* Full width */
    height: 550px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: white; /* Black w/ opacity */
    box-sizing: border-box;
}

.createModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    border-style: solid;
    border-width: 1px;
    border-color: black;
    bottom: 0px;
    left: 600px;
    width: 675px; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
    box-sizing: border-box;
    animation-name: animatecenter;
    animation-duration: 0.4s;
    z-index: 1; /* keep on top of other elements on the page */
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}

@keyframes animateright {
    from {
        right: -600px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

.sideModal {
    display: none;
    position: fixed;
    right: 0;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    top: 62px;
    width: 600px;
    height: 93.6vh;
    background: #FFFFFF;
    transition: .5s;
    text-align: left;
    overflow: auto;
    background-color: dodgerblue; /* Black w/ opacity */
    animation-name: animateright;
    animation-duration: 0.4s;
    z-index: 1; /* keep on top of other elements on the page */
}




#searchWrapper img {
    vertical-align: middle;
}

/*table.myFormat {
    table-layout: fixed;
    width: 100%;
    float: right;
    position: relative;
}*/

.modallogin {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.table-spacing {
    border-spacing: 5px;
    position: relative;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-menu {
    top: 0;
    left: 100%;
    display: none;
    transition: 2s;
}

.dropup,
.dropright,
.dropleft,
.dropdown {
    position: relative;
    
}

.dropdown-toggle {
    position: relative;
    transition: 500ms;
    
}

.dropdown:hover .dropdown-menu {
    transition-delay: 0s;
    display: block;
    height:auto;
    overflow:auto;
}

.dropdown-menu:hover .dropdown-menu {
    transition-delay: 0s;
    display: block;
    
}


#background {
    top: 0px;
    right: 200px;
    left: 0;
    bottom: 0px;
    background: white;
}
