USE [master]
GO
/****** Object:  Database [PennStateDB]    Script Date: 4/4/2019 2:20:26 PM ******/
CREATE DATABASE [PennStateDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PennStateDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PennStateDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PennStateDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PennStateDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PennStateDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PennStateDB]
GO
/****** Object:  Table [dbo].[Tbl_CatagoryLocations]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_CatagoryLocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](50) NULL,
	[Pid] [int] NULL,
	[HasChildren] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_CatagoryOwners]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_CatagoryOwners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerName] [nvarchar](50) NULL,
	[Pid] [int] NULL,
	[HasChildren] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_CatagoryTypes]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_CatagoryTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NULL,
	[Pid] [int] NULL,
	[HasChildren] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_CatagoryVendors]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_CatagoryVendors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](50) NULL,
	[Pid] [int] NULL,
	[HasChildren] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_File]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_File](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemFileName] [varchar](50) NULL,
	[DataStream] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_ItemFiles]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_ItemFiles](
	[Item_Id] [int] NOT NULL,
	[File_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Tbl_ItemFiles] PRIMARY KEY CLUSTERED 
(
	[Item_Id] ASC,
	[File_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Items]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NOT NULL,
	[AmountInStock] [int] NOT NULL,
	[LocationComments] [nvarchar](255) NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[CatalogNumber] [nvarchar](25) NULL,
	[WebAddress] [nvarchar](50) NULL,
	[Vendor] [nvarchar](50) NOT NULL,
	[ContactInfo] [nvarchar](200) NULL,
	[PurchaseDate] [datetime] NULL,
	[Added] [datetime] NULL,
	[Updated] [datetime] NULL,
	[PurchasePrice] [decimal](18, 2) NOT NULL,
	[ItemType] [nvarchar](20) NOT NULL,
	[ItemNotes] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[IsDeleted] [bit] NOT NULL,
	[UsrId] [int] NOT NULL,
	[LocId] [int] NULL,
	[SubId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Locations]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Photo]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Photo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhotoName] [varchar](50) NULL,
	[DataStream] [varbinary](max) NULL,
	[SubId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_PhotoItems]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_PhotoItems](
	[Photo_Id] [int] NOT NULL,
	[Item_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Tbl_PhotoItems] PRIMARY KEY CLUSTERED 
(
	[Photo_Id] ASC,
	[Item_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Roles]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_SubLocations]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_SubLocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubLocationName] [nvarchar](50) NOT NULL,
	[LocId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Users]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[PasswordHashed] [nvarchar](60) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ActivationCode] [uniqueidentifier] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_CatagoryLocations] ON 

INSERT [dbo].[Tbl_CatagoryLocations] ([Id], [LocationName], [Pid], [HasChildren]) VALUES (1, N'Room-127', NULL, 1)
INSERT [dbo].[Tbl_CatagoryLocations] ([Id], [LocationName], [Pid], [HasChildren]) VALUES (2, N'Shelf-A', 1, 0)
INSERT [dbo].[Tbl_CatagoryLocations] ([Id], [LocationName], [Pid], [HasChildren]) VALUES (3, N'Room-128', NULL, 1)
SET IDENTITY_INSERT [dbo].[Tbl_CatagoryLocations] OFF
SET IDENTITY_INSERT [dbo].[Tbl_CatagoryOwners] ON 

INSERT [dbo].[Tbl_CatagoryOwners] ([Id], [OwnerName], [Pid], [HasChildren]) VALUES (1, N'Mark Woodard', NULL, 0)
SET IDENTITY_INSERT [dbo].[Tbl_CatagoryOwners] OFF
SET IDENTITY_INSERT [dbo].[Tbl_CatagoryTypes] ON 

INSERT [dbo].[Tbl_CatagoryTypes] ([Id], [TypeName], [Pid], [HasChildren]) VALUES (2, N'Demos', NULL, 0)
SET IDENTITY_INSERT [dbo].[Tbl_CatagoryTypes] OFF
SET IDENTITY_INSERT [dbo].[Tbl_CatagoryVendors] ON 

INSERT [dbo].[Tbl_CatagoryVendors] ([Id], [VendorName], [Pid], [HasChildren]) VALUES (1, N'Vendor1', NULL, 0)
INSERT [dbo].[Tbl_CatagoryVendors] ([Id], [VendorName], [Pid], [HasChildren]) VALUES (2, N'Vendor2', NULL, 0)
SET IDENTITY_INSERT [dbo].[Tbl_CatagoryVendors] OFF
SET IDENTITY_INSERT [dbo].[Tbl_File] ON 

INSERT [dbo].[Tbl_File] ([Id], [ItemFileName], [DataStream]) VALUES (1, N'Something.docx', NULL)
INSERT [dbo].[Tbl_File] ([Id], [ItemFileName], [DataStream]) VALUES (2, N'Something2.docx', NULL)
INSERT [dbo].[Tbl_File] ([Id], [ItemFileName], [DataStream]) VALUES (3, N'Something3.pdf', NULL)
SET IDENTITY_INSERT [dbo].[Tbl_File] OFF
INSERT [dbo].[Tbl_ItemFiles] ([Item_Id], [File_Id]) VALUES (5, 1)
INSERT [dbo].[Tbl_ItemFiles] ([Item_Id], [File_Id]) VALUES (5, 3)
INSERT [dbo].[Tbl_ItemFiles] ([Item_Id], [File_Id]) VALUES (5, 4)
SET IDENTITY_INSERT [dbo].[Tbl_Items] ON 

INSERT [dbo].[Tbl_Items] ([Id], [ItemName], [AmountInStock], [LocationComments], [Manufacturer], [CatalogNumber], [WebAddress], [Vendor], [ContactInfo], [PurchaseDate], [Added], [Updated], [PurchasePrice], [ItemType], [ItemNotes], [UpdatedBy], [IsDeleted], [UsrId], [LocId], [SubId]) VALUES (1, N'Item1', 2, N'cccc', NULL, N'100', N'www.item.com', N'Vendor1', NULL, CAST(N'2019-04-02T00:00:00.000' AS DateTime), CAST(N'2019-04-03T18:18:17.000' AS DateTime), CAST(N'2019-04-03T19:25:49.587' AS DateTime), CAST(1.20 AS Decimal(18, 2)), N'Demos', NULL, N'Mark Woodard', 0, 1, 1, 1)
INSERT [dbo].[Tbl_Items] ([Id], [ItemName], [AmountInStock], [LocationComments], [Manufacturer], [CatalogNumber], [WebAddress], [Vendor], [ContactInfo], [PurchaseDate], [Added], [Updated], [PurchasePrice], [ItemType], [ItemNotes], [UpdatedBy], [IsDeleted], [UsrId], [LocId], [SubId]) VALUES (2, N'Item2', 2, N'cccc', NULL, N'101', N'www.item.com', N'Vendor1', NULL, CAST(N'2019-04-02T00:00:00.000' AS DateTime), CAST(N'2019-04-03T19:19:37.940' AS DateTime), CAST(N'2019-04-03T19:19:37.940' AS DateTime), CAST(1.00 AS Decimal(18, 2)), N'Demos', NULL, NULL, 0, 1, 2, 2)
INSERT [dbo].[Tbl_Items] ([Id], [ItemName], [AmountInStock], [LocationComments], [Manufacturer], [CatalogNumber], [WebAddress], [Vendor], [ContactInfo], [PurchaseDate], [Added], [Updated], [PurchasePrice], [ItemType], [ItemNotes], [UpdatedBy], [IsDeleted], [UsrId], [LocId], [SubId]) VALUES (3, N'Item3', 1, N'cccc', NULL, N'102', N'www.item.com', N'Vendor1', NULL, CAST(N'2019-04-02T00:00:00.000' AS DateTime), CAST(N'2019-04-03T19:24:40.283' AS DateTime), CAST(N'2019-04-03T19:24:40.283' AS DateTime), CAST(1.33 AS Decimal(18, 2)), N'Demos', NULL, NULL, 0, 1, 3, 3)
SET IDENTITY_INSERT [dbo].[Tbl_Items] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Locations] ON 

INSERT [dbo].[Tbl_Locations] ([Id], [LocationName]) VALUES (1, N'Room-127')
INSERT [dbo].[Tbl_Locations] ([Id], [LocationName]) VALUES (2, N'Room-128')
INSERT [dbo].[Tbl_Locations] ([Id], [LocationName]) VALUES (3, N'Room-129')
SET IDENTITY_INSERT [dbo].[Tbl_Locations] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Photo] ON 

INSERT [dbo].[Tbl_Photo] ([Id], [PhotoName], [DataStream], [SubId]) VALUES (1, N'Photo1.jpg', NULL, NULL)
INSERT [dbo].[Tbl_Photo] ([Id], [PhotoName], [DataStream], [SubId]) VALUES (2, N'Photo2.png', NULL, NULL)
INSERT [dbo].[Tbl_Photo] ([Id], [PhotoName], [DataStream], [SubId]) VALUES (3, N'Photo3.jpg', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tbl_Photo] OFF
INSERT [dbo].[Tbl_PhotoItems] ([Photo_Id], [Item_Id]) VALUES (1, 5)
INSERT [dbo].[Tbl_PhotoItems] ([Photo_Id], [Item_Id]) VALUES (3, 5)
INSERT [dbo].[Tbl_PhotoItems] ([Photo_Id], [Item_Id]) VALUES (5, 6)
SET IDENTITY_INSERT [dbo].[Tbl_Roles] ON 

INSERT [dbo].[Tbl_Roles] ([Id], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Tbl_Roles] ([Id], [RoleName]) VALUES (2, N'User')
INSERT [dbo].[Tbl_Roles] ([Id], [RoleName]) VALUES (3, N'Admin')
SET IDENTITY_INSERT [dbo].[Tbl_Roles] OFF
SET IDENTITY_INSERT [dbo].[Tbl_SubLocations] ON 

INSERT [dbo].[Tbl_SubLocations] ([Id], [SubLocationName], [LocId]) VALUES (1, N'Shelf-A', 1)
INSERT [dbo].[Tbl_SubLocations] ([Id], [SubLocationName], [LocId]) VALUES (2, N'Shelf-A', 2)
INSERT [dbo].[Tbl_SubLocations] ([Id], [SubLocationName], [LocId]) VALUES (3, N'Shelf-A', 3)
SET IDENTITY_INSERT [dbo].[Tbl_SubLocations] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Users] ON 

INSERT [dbo].[Tbl_Users] ([Id], [UserName], [Email], [FirstName], [LastName], [PasswordHashed], [IsActive], [ActivationCode], [RoleId]) VALUES (1, N'Mjwood51', N'MarkWoodard2227@gmail.com', N'Mark', N'Woodard', N'LLU6wpscgJlbP2D1kqwT23gksOgTG/8PVOLlyDmT8KopNg9N', 0, N'376060ed-790b-4490-b7e3-330ad74459f6', 3)
SET IDENTITY_INSERT [dbo].[Tbl_Users] OFF
/****** Object:  Index [IX_Pid]    Script Date: 4/4/2019 2:20:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Pid] ON [dbo].[Tbl_CatagoryLocations]
(
	[Pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pid]    Script Date: 4/4/2019 2:20:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Pid] ON [dbo].[Tbl_CatagoryOwners]
(
	[Pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pid]    Script Date: 4/4/2019 2:20:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Pid] ON [dbo].[Tbl_CatagoryTypes]
(
	[Pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pid]    Script Date: 4/4/2019 2:20:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Pid] ON [dbo].[Tbl_CatagoryVendors]
(
	[Pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_File_Id]    Script Date: 4/4/2019 2:20:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_File_Id] ON [dbo].[Tbl_ItemFiles]
(
	[File_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Item_Id]    Script Date: 4/4/2019 2:20:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Item_Id] ON [dbo].[Tbl_ItemFiles]
(
	[Item_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Item_Id]    Script Date: 4/4/2019 2:20:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Item_Id] ON [dbo].[Tbl_PhotoItems]
(
	[Item_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Photo_Id]    Script Date: 4/4/2019 2:20:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Photo_Id] ON [dbo].[Tbl_PhotoItems]
(
	[Photo_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_CatagoryLocations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tbl_CatagoryLocations_dbo.Tbl_CatagoryLocations_Pid] FOREIGN KEY([Pid])
REFERENCES [dbo].[Tbl_CatagoryLocations] ([Id])
GO
ALTER TABLE [dbo].[Tbl_CatagoryLocations] CHECK CONSTRAINT [FK_dbo.Tbl_CatagoryLocations_dbo.Tbl_CatagoryLocations_Pid]
GO
ALTER TABLE [dbo].[Tbl_CatagoryOwners]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tbl_CatagoryOwners_dbo.Tbl_CatagoryOwners_Pid] FOREIGN KEY([Pid])
REFERENCES [dbo].[Tbl_CatagoryOwners] ([Id])
GO
ALTER TABLE [dbo].[Tbl_CatagoryOwners] CHECK CONSTRAINT [FK_dbo.Tbl_CatagoryOwners_dbo.Tbl_CatagoryOwners_Pid]
GO
ALTER TABLE [dbo].[Tbl_CatagoryTypes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tbl_CatagoryTypes_dbo.Tbl_CatagoryTypes_Pid] FOREIGN KEY([Pid])
REFERENCES [dbo].[Tbl_CatagoryTypes] ([Id])
GO
ALTER TABLE [dbo].[Tbl_CatagoryTypes] CHECK CONSTRAINT [FK_dbo.Tbl_CatagoryTypes_dbo.Tbl_CatagoryTypes_Pid]
GO
ALTER TABLE [dbo].[Tbl_CatagoryVendors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tbl_CatagoryVendors_dbo.Tbl_CatagoryVendors_Pid] FOREIGN KEY([Pid])
REFERENCES [dbo].[Tbl_CatagoryVendors] ([Id])
GO
ALTER TABLE [dbo].[Tbl_CatagoryVendors] CHECK CONSTRAINT [FK_dbo.Tbl_CatagoryVendors_dbo.Tbl_CatagoryVendors_Pid]
GO
ALTER TABLE [dbo].[Tbl_ItemFiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tbl_ItemFiles_dbo.Tbl_File_File_Id] FOREIGN KEY([File_Id])
REFERENCES [dbo].[Tbl_File] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_ItemFiles] CHECK CONSTRAINT [FK_dbo.Tbl_ItemFiles_dbo.Tbl_File_File_Id]
GO
ALTER TABLE [dbo].[Tbl_ItemFiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tbl_ItemFiles_dbo.Tbl_Items_Item_Id] FOREIGN KEY([Item_Id])
REFERENCES [dbo].[Tbl_Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_ItemFiles] CHECK CONSTRAINT [FK_dbo.Tbl_ItemFiles_dbo.Tbl_Items_Item_Id]
GO
ALTER TABLE [dbo].[Tbl_Items]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tbl_Items_dbo.Tbl_Locations_LocId] FOREIGN KEY([LocId])
REFERENCES [dbo].[Tbl_Locations] ([Id])
GO
ALTER TABLE [dbo].[Tbl_Items] CHECK CONSTRAINT [FK_dbo.Tbl_Items_dbo.Tbl_Locations_LocId]
GO
ALTER TABLE [dbo].[Tbl_Items]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tbl_Items_dbo.Tbl_SubLocations_SubId] FOREIGN KEY([SubId])
REFERENCES [dbo].[Tbl_SubLocations] ([Id])
GO
ALTER TABLE [dbo].[Tbl_Items] CHECK CONSTRAINT [FK_dbo.Tbl_Items_dbo.Tbl_SubLocations_SubId]
GO
ALTER TABLE [dbo].[Tbl_Items]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tbl_Items_dbo.Tbl_Users_UsrId] FOREIGN KEY([UsrId])
REFERENCES [dbo].[Tbl_Users] ([Id])
GO
ALTER TABLE [dbo].[Tbl_Items] CHECK CONSTRAINT [FK_dbo.Tbl_Items_dbo.Tbl_Users_UsrId]
GO
ALTER TABLE [dbo].[Tbl_PhotoItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tbl_PhotoItems_dbo.Tbl_Items_Item_Id] FOREIGN KEY([Item_Id])
REFERENCES [dbo].[Tbl_Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_PhotoItems] CHECK CONSTRAINT [FK_dbo.Tbl_PhotoItems_dbo.Tbl_Items_Item_Id]
GO
ALTER TABLE [dbo].[Tbl_PhotoItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tbl_PhotoItems_dbo.Tbl_Photo_Photo_Id] FOREIGN KEY([Photo_Id])
REFERENCES [dbo].[Tbl_Photo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_PhotoItems] CHECK CONSTRAINT [FK_dbo.Tbl_PhotoItems_dbo.Tbl_Photo_Photo_Id]
GO
ALTER TABLE [dbo].[Tbl_SubLocations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tbl_SubLocations_dbo.Tbl_Locations_LocId] FOREIGN KEY([LocId])
REFERENCES [dbo].[Tbl_Locations] ([Id])
GO
ALTER TABLE [dbo].[Tbl_SubLocations] CHECK CONSTRAINT [FK_dbo.Tbl_SubLocations_dbo.Tbl_Locations_LocId]
GO
ALTER TABLE [dbo].[Tbl_Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tbl_Users_dbo.Tbl_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Tbl_Roles] ([Id])
GO
ALTER TABLE [dbo].[Tbl_Users] CHECK CONSTRAINT [FK_dbo.Tbl_Users_dbo.Tbl_RoleId]
GO
/****** Object:  StoredProcedure [dbo].[GetAllCatLocs]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllCatLocs] as Begin   
Select   
Id,
LocationName,
Pid,
HasChildren
from   
Tbl_CatagoryLocations End
GO
/****** Object:  StoredProcedure [dbo].[GetAllCatOwners]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GetAllCatOwners] as Begin   
Select   
Id,
OwnerName,
Pid,
HasChildren
from   
Tbl_CatagoryOwners End
GO
/****** Object:  StoredProcedure [dbo].[GetAllCatTypes]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GetAllCatTypes] as Begin   
Select   
Id,
TypeName,
Pid,
HasChildren
from   
Tbl_CatagoryTypes End
GO
/****** Object:  StoredProcedure [dbo].[GetAllCatVendors]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GetAllCatVendors] as Begin   
Select   
Id,
VendorName,
Pid,
HasChildren
from   
Tbl_CatagoryVendors End
GO
/****** Object:  StoredProcedure [dbo].[GetAllFiles]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllFiles] as Begin   
Select   
Id,
ItemFileName,
DataStream
from   
Tbl_File End
GO
/****** Object:  StoredProcedure [dbo].[GetAllItems]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllItems] as Begin
Select 
Id,
ItemName,
AmountInStock,
LocationComments,
Manufacturer,
CatalogNumber,
WebAddress,
Vendor,
ContactInfo,
PurchaseDate,
Added,
Updated,
PurchasePrice,
ItemType,
ItemNotes,
UpdatedBy,
IsDeleted,
UsrId,
LocId,
SubId
from   
Tbl_Items End
GO
/****** Object:  StoredProcedure [dbo].[GetAllLocations]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GetAllLocations] as Begin   
Select   
Id,   
LocationName   
from   
Tbl_Locations End
GO
/****** Object:  StoredProcedure [dbo].[GetAllPhotos]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllPhotos] as Begin   
Select   
Id,
PhotoName,
DataStream
from   
Tbl_Photo End
GO
/****** Object:  StoredProcedure [dbo].[GetAllRoles]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllRoles] as Begin   
Select   
Id,
RoleName
from   
Tbl_Roles End
GO
/****** Object:  StoredProcedure [dbo].[GetAllSubLocations]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GetAllSubLocations] as Begin   
Select   
Id,   
SubLocationName,   
LocId      
from   
Tbl_SubLocations End
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUsers] as Begin
Select 
Id,
UserName,
Email,
FirstName,
LastName,
PasswordHashed,
IsActive,
ActivationCode,
RoleId
from   
Tbl_Users End
GO
/****** Object:  StoredProcedure [dbo].[GetFileDetails]    Script Date: 4/4/2019 2:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GetFileDetails]  
(  
@Id int=null  
)  
as  
begin  
select Id, ItemFileName, DataStream from Tbl_File  
where Id=isnull(@Id,Id)  
End
GO
USE [master]
GO
