
@{

    ViewBag.Title = "About";

}

<div class="page-init">

    <h2>@ViewBag.Title.</h2>



    <p>This application allows the physics department at Penn State Harrisburg to track and store information about its assets.</p>

</div>
