
@{

    ViewBag.Title = "Contact";

}

<div class="page-init">

    <h2>@ViewBag.Title.</h2>

    <h3>@ViewBag.Message</h3>



    <address>

        126TL Science &amp Tech Bldg<br />

        Penn State Hbg <br />

        Middletown, PA 17057<br />

        <abbr title="Phone">P:</abbr>

        +1 717 948 6113

    </address>



    <address>

        <strong>Support:</strong>   <a href="mailto:gmg38@psu.edu">gmg38@psu.edu</a><br />



    </address>

</div>