

@{

    ViewBag.Title = "Home Page";

}

<div class="page-init">

    <div class="jumbotron">

        <h1 style="text-align:center">Physics Lab Inventory</h1>

        <p style="text-align:center"class="lead">Welcome to the Penn State Harrisburg Physics Lab Inventory Application.</p>
        <br />
        <br />
        <br />
        <div style="position:relative">
            @if (!HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <a href="#" class="btn btn-primary btn-lg" style="width:21%" onclick="logIn(null)" data-target="#logInModal" data-toggle="modal">Log In &raquo;</a>
                <div style="position:absolute;right:40%;top:0%">
                    <a href="#" class="btn btn-primary btn-lg" onclick="logIn('/Item/GetAllItems')" data-target="#logInModal" data-toggle="modal">View Inventory &raquo;</a>
                </div>
                <div style="position:absolute;right:0%;top:0%">
                    <a href="#" class="btn btn-primary btn-lg" onclick="logIn('/Item/GetRequests')" data-target="#logInModal" data-toggle="modal">View Requests &raquo;</a>
                </div>
            }
            else
            {
                <a href="~/Item/GetAllItems" class="btn btn-primary btn-lg">View Inventory &raquo;</a>
                <div style="position:absolute;right:41%;top:0%">
                    <a href="~/Item/GetRequests" class="btn btn-primary btn-lg" style="width:105%">View Requests &raquo;</a>
                </div>
                <div style="position:absolute;right:0%;top:0%">
                    <a href="~/Item/FlagItem" class="btn btn-primary btn-lg" style="width:100%">Make A Request &raquo;</a>
                </div>
                <p><a href="~/Item/Scheduler" class="btn btn-primary btn-lg" style="bottom:0%;margin-top:5%;width:30%;margin-left:13%">View Schedule &raquo;</a></p>
                if (HttpContext.Current.User.IsInRole("Admin"))
                {
                    <div style="position:absolute;right:24%;top:63.5%">
                        <a href="~/Item/AddItem2" class="btn btn-primary btn-lg" style="width:157%">Add New Item &raquo;</a>
                    </div>
                }
                else
                {
                    <div style="position:absolute;right:24%;top:63.5%">
                        <a href="#" onclick="cannotAdd()"class="btn btn-primary btn-lg" style="width:157%;color:red">Add New Item &raquo;</a>
                    </div>
                }
            }
        </div>

    </div>



    @*<div class="modal" id="logInModal">

            <div class="modal-content" style="bottom:20px">

                <div class="modal-header">

                    <h3 class="modal-title">Log In</h3>

                </div>

                <div class="modal-body" id="logInBod">



                </div>

            </div>

        </div>*@

    @*<div class="row">

                <div class="col-md-4">

                    <h2>Getting started</h2>

                    <p>

                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that

                        enables a clean separation of concerns and gives you full control over markup

                        for enjoyable, agile development.

                    </p>

                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>

                </div>

                <div class="col-md-4">

                    <h2>Get more libraries</h2>

                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>

                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>

                </div>

                <div class="col-md-4">

                    <h2>Web Hosting</h2>

                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>

                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>

                </div>

            </div>*@

        </div>
